extends ../layouts/common
block content
  h1.text-center Books List
  .container.align-content
    form(method="GET", action="/books/search").form-inline
      .form-group
        input(type="text", name="q", size="60", value= value).form-control
        |
        |
        button.btn.btn-info Search
    a(href="/books/create") 
      button.btn-sm.btn.btn-success Create book
    table.table.table-hover
      thead
        tr
          th.text-center Book
          th.text-center Action
      tbody
      if books.length 
        each book in books
          tr
            td
              img(src=book.cover, width='42')
              |
              |
              span= book.title
            if userProfile.isAdmin
              td(colspan='4').action
                a(href=`/books/${book._id}/view`, title='View').fas.fa-eye
                a(href=`/books/${book._id}/edit`, title='Edit').fas.fa-edit
                a(href=`/books/${book._id}/delete`, title='Delete').fas.fa-trash-alt
                a(href=`/books/${book._id}/addtocart`, title='Add to cart').fad.fa-cart-plus
      else
        tr
          td No book
    ul.pagination
      li.page-item
        a.page-link(href='/books?page=1', aria-label='Previous')
          span(aria-hidden='true') &laquo;
          span.sr-only Previous
      li.page-item
        a.page-link(href='/books?page=1') 1
      li.page-item
        a.page-link(href='/books?page=2') 2
      li.page-item
        a.page-link(href='/books?page=3') 3
      li.page-item
        a.page-link(href='/books?page=' + lastPage, aria-label='Next')
          span(aria-hidden='true') &raquo;
          span.sr-only Next
