extends ../layouts/common
block content
  h1.text-center Books List
  .container.align-content
    form(method="GET", action="/books/search").form-inline
      .form-group
        input(type="text", name="q", size="60", value= value).form-control
        |
        |
        button.btn.btn-info Search
    a(href="/books/create") 
      button.btn-sm.btn.btn-success Create book
    table.table.table-hover
      thead
        tr
          th Book
          th.text-center Action
      tbody
      if books.length 
        each book in books
          tr
            td
              img(src=book.cover, width='42')
              |
              |
              span= book.title
            td(colspan='3').action
              a(href=`/books/${book._id}/view`).btn.btn-sm.btn-info View
              a(href=`/books/${book._id}/edit`).btn.btn-sm.btn-warning Edit
              a(href=`/books/${book._id}/delete`).btn.btn-sm.btn-danger Delete
      else
        tr
          td No book
    ul.pagination
      li.page-item
        a.page-link(href='/books?page=1', aria-label='Previous')
          span(aria-hidden='true') &laquo;
          span.sr-only Previous
      li.page-item
        a.page-link(href='/books?page=1') 1
      li.page-item
        a.page-link(href='/books?page=2') 2
      li.page-item
        a.page-link(href='/books?page=3') 3
      li.page-item
        a.page-link(href='/books?page=' + lastPage, aria-label='Next')
          span(aria-hidden='true') &raquo;
          span.sr-only Next
