extends ../layouts/common
block content
  h1.text-center Books List
  .container.align-content
    form(method="GET", action="/books/search").form-inline
      .form-group
        input(type="text", name="q", size="65", value= value).form-control
        |
        |
        button.btn
          i.fas.fa-search
    if userProfile
      if userProfile.isAdmin
        a(href="/books/create") 
          button.btn.btn-info
            i.fal.fa-layer-plus
            |
            |
            span Create Book
    table.table.table-hover.table-striped
      thead
        tr
          th.text-center Book
          th.text-center Action
      tbody
      if books.length 
        each book in books
          tr
            td
              .container-fluid
                .row
                  .col-xs-4
                    img(src= (book.cover.indexOf('upload') != -1 ) ? '/'+book.cover : book.cover, width='42')
                  .col-xs-8
                    span.text-bold.text-muted.text-left= book.title
                    br
                    span
                      i.fas.fa-heart
                      |
                      |
                      = book.loves
                    |
                    |
                    span
                      i.fal.fa-layer-group
                      |
                      |
                      = book.genre
            if userProfile
              if userProfile.isAdmin  
                td(colspan='4').action
                  a(href=`/books/${book._id}/view`, title='View').fas.fa-eye
                  a(href=`/books/${book._id}/edit`, title='Edit').fas.fa-calendar-edit
                  a(href=`/books/${book._id}/delete`, title='Delete').fas.fa-trash-alt
                  a(href=`/cart/add/${book._id}`, title='Add to cart').fal.fa-cart-plus
              else
                td(colspan='2').action
                  a(href=`/books/${book._id}/view`, title='View').fas.fa-eye
                  a(href=`/cart/add/${book._id}`, title='Add to cart').fal.fa-cart-plus
            else
              td(colspan='2').action
                a(href=`/books/${book._id}/view`, title='View').fas.fa-eye
                a(href=`/cart/add/${book._id}`, title='Add to cart').fal.fa-cart-plus
      else
        tr
          td No book
    ul.pagination
      li.page-item
        a.page-link(href='/books?page=1', aria-label='Previous')
          span(aria-hidden='true') &laquo;
          span.sr-only Previous
      li.page-item
        a.page-link(href='/books?page=1') 1
      li.page-item
        a.page-link(href='/books?page=2') 2
      li.page-item
        a.page-link(href='/books?page=3') 3
      li.page-item
        a.page-link(href='/books?page=' + lastPage, aria-label='Next')
          span(aria-hidden='true') &raquo;
          span.sr-only Next
